button:focus {
  outline: 0;
}

.common-btn {
  background-color: $sub-color;
  color: #333;
  width: 95px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .5s;
  &:hover {
    background-color: #fff;
  }
  &.secondary {
    background-color: rgba(255, 255, 255, .5);
    &:hover {
      background-color: #fff;
    }
  }
}

.common-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 480px;
  color: #fff;
  background-color: $main-color;
  text-align: center;
}

/* 去除数字输入框小箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {-moz-appearance: textfield;}

.pages {
  background-color: #e6e8f4;
  padding-bottom: 30px;
} 

.hide {
  display: none !important;
}