@import './normalize.scss';

html {
  color: #333;
}

a {
  color: #2B87D1CC;
  &:hover {
    color: #2B87D1;
  }
}

button:focus {
  outline: 0;
}

.common-btn {
  background-color: $sub-color;
  color: #333;
  min-width: 110px;
  padding: 0;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .5s;
  user-select: none;
  &:hover {
    background-color: #fff;
  }
  &.secondary {
    background-color: rgba(255, 255, 255, .5);
    &:hover {
      background-color: #fff;
    }
  }
}

.common-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 480px;
  color: #fff;
  background-color: $main-color;
  text-align: center;
  .info {
    width: 240px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-bottom: 20px;
    .item {
      display: flex;
      height: 40px;
      align-items: center;
      span {
        cursor: default;
      }
      .opacity {
        opacity: .7;
      }
      .keys {
        margin: 0 10px;
      }
      .icon {
        font-size: 32px;
        vertical-align: bottom;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .commmon-wrap {
    .info {
      font-size: 24px;
      .item {
        .icon {
          font-size: 28px;
        }
      }
    }
  }
}

/* 去除数字输入框小箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {-moz-appearance: textfield;}

.pages {
  min-height: 100vh;
  background-color: #e6e8f4;
  padding-bottom: 30px;
} 

.hide {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .hide-on-mob {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  .hide-on-pc {
    display: none !important;
  }
}