button:focus {
  outline: 0;
}

.common-btn {
  background-color: $sub-color;
  color: #333;
  width: 95px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .5s;
  &:hover {
    background-color: #fff;
  }
}