@import './normalize.scss';

html {
  color: #333;
}

[v-clock] {
  display: none !important;
}

a {
  color: #2b87d1cc;
  &:hover {
    color: #2b87d1;
  }
}

button:focus {
  outline: 0;
}

.common-btn {
  background-color: $sub-color;
  color: #333;
  min-width: 110px;
  padding: 0;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
  user-select: none;
  animation: textFadeIn 0.5s linear;
  &:hover {
    background-color: #fff;
  }
  &.secondary {
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: #fff;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    &:hover {
      background-color: $sub-color;
    }
    &.secondary {
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.common-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 480px;
  color: #fff;
  background-color: $main-color;
  text-align: center;
  .info {
    width: 240px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-bottom: 20px;
    .item {
      display: flex;
      height: 40px;
      align-items: center;
      span {
        cursor: default;
      }
      .opacity {
        opacity: 0.8;
      }
      .keys {
        margin: 0 10px;
      }
      .icon {
        font-size: 32px;
        vertical-align: bottom;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .commmon-wrap {
    .info {
      font-size: 24px;
      .item {
        .icon {
          font-size: 28px;
        }
      }
    }
  }
}

/* 去除数字输入框小箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.pages {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #e6e8f4;
  padding-bottom: 30px;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .hide-on-mob {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  .hide-on-pc {
    display: none !important;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0.1;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#app {
  .el-dialog__title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 20px;
    &::before {
      position: absolute;
      content: '';
      height: 20px;
      width: 4px;
      left: -10px;
      top: 4px;
      background-color: $main-color;
    }
  }
}
